<div class="text-center">
  <div class="img-div">
    <img src="../assets/PhotoAbout.png" class="rounded-circle">
    <br>
    <button (click)="getCVPDF()" type="button" class="btn downloadButton text-main-color">Télécharger mon CV</button>
  </div>

  <div class="text-elements">
    <div class="about-me">
        <h3 class="text-decoration-underline text-main-color">Qui suis-je ?</h3>
        <p class="text-main-color about-me-text">
          Gamer passionné autant par les jeux vidéos que par les jeux de société en passant par le jeu de rôle,
          je cherche les perles rares sur mon temps libre. <br>
          En plus des jeux vidéo, j'aime beaucoup créer du contenu divertissant qu'il s'agisse de memes, de montages vidéos
          ou autres productions plus farfelues.
        </p>
    </div>

    <div class="formation">
      <h3 class="text-decoration-underline text-main-color">Ma formation</h3>
      <div class="formation-items">
        <div>
          <h4 class="text-main-color">Formation d'ingénieur en informatique</h4>
          <p class="text-main-color">
            2019 - 2024 - Polytech, Lyon
          </p>
        </div>
        <div>
          <h4 class="text-main-color">Maîtrise en informatique option Jeu Vidéo</h4>
          <p class="text-main-color">
            2023 - 2024 - UQAC, Québec
          </p>
        </div>
      </div>
    </div>

    <div class="experience">
      <h3 class="text-decoration-underline text-main-color">Mon expérience professionnelle</h3>
      <p class="text-main-color">En dehors des projets effectués au cours de ma formation à l'UQAC,
        je n'ai pas encore eu la chance de travailler dans le jeu vidéo en entreprise. <br>
        Si mon portfolio et mon profil vous intéresse, n'hésitez pas à me contacter !
      </p>

      <div class="experience-items">

      </div>
    </div>
  </div>
</div>
