<h1 class="text-main-color main-title">Me contacter</h1>

<div class="contact-list">

  <a class="contact-item" href="https://www.linkedin.com/in/maxime-poiret-01763b199/" target="_blank">
    <img src="assets/LinkedIn.png">
  </a>

  <a class="contact-item" href="mailto:maximep2002@gmail.com">
    <img src="assets/mail.png">
  </a>
</div>

<h1 class="text-main-color second-title">Comptes de jeu</h1>

<div class="games-related-list">
  <a href="https://legrosshetan.itch.io" target="_blank">
    <img src="assets/itch.png">
  </a>
</div>



