<div>
  <h1 class="text-main-color title-text">Mon portfolio</h1>

  <div class="portfolio-items">

    <div style="background-image: url('assets/Aiden.png');" class="portfolio-singular-item" (click)="redirectTo('https://legrosshetan.itch.io/aidens-grief')">
      <span class="text-main-color overlay">
        <h2 class="item-title">Aiden's Grief - Projet d'école</h2>
        Aiden's Grief est un jeu développé en l'espace d'un peu plus d'un mois avec une équipe de 3 personnes. <br>
        Il s'agit d'un prototype ambitieux voulant mêler différents gameplays,
        à savoir une partie de parkour en vue FPS, un bullet hell et un visual novel.
      </span>
    </div>
  </div>

  <h1 class="text-main-color title-text">Jeux en cours de Développement</h1>

  <div class="portfolio-items">

    <div style="background-image: url('assets/XNC.png');" class="portfolio-singular-item">
      <span class="text-main-color overlay">
        <h2 class="item-title">Xeno Nest Control - Projet d'école</h2>
        En cours de développement par une équipe de 5 étudiants, Xeno Nest Control est un jeu où on joue le rôle d'un nettoyeur
        tâché de débarrasser les menaces de vaisseaux abandonnés dans un roguelike orienté SF.
      </span>
    </div>

    <div style="background-image: url('assets/Lagspike.png');" class="portfolio-singular-item" (click)="redirectTo('https://legrosshetan.itch.io/aidens-grief')">
      <span class="text-main-color overlay">
        <h2 class="item-title">Lagspike - Projet d'école</h2>
        Lagspike est un projet de shooter en réseau 3V3 développé par une équipe de 6 personnes. Le projet est à ses débuts
        et tandis que la partie réseau est en cours de mise en place, la partie gameplay est toujours en cours de discussion.
      </span>
    </div>
  </div>
</div>

<div class="filler" style="height: 1em"></div>
