<div>
  <h1 class="text-main-color title-text">Mon portfolio</h1>

  <div class="portfolio-items">
    <div style="background-image: url('assets/Aiden.png');" class="portfolio-singular-item" (click)="redirectTo('https://legrosshetan.itch.io/aidens-grief')">
      <span class="text-main-color overlay">
        <h2 class="item-title">Aiden's Grief - Projet d'école</h2>
        Aiden's Grief est un jeu développé en l'espace d'un peu plus d'un mois avec une équipe de 3 personnes. <br>
        Il s'agit d'un prototype ambitieux voulant mêler différents gameplays,
        à savoir une partie de parkour en vue FPS, un bullet hell et un visual novel.
      </span>
    </div>

    <div style="background-image: url('assets/Aiden.png');" class="portfolio-singular-item">
      <span class="text-main-color overlay">
        <h2 class="item-title">Aiden's Gief - Projet d'école</h2>
        Aiden's Grief est un jeu développé en l'espace d'un peu plus d'un mois avec une équipe de 3 personnes. <br>
        Il s'agit d'un prototype ambitieux voulant mêler différents gameplays,
        à savoir une partie de parkour en vue FPS, un bullet hell et un visual novel.
      </span>
    </div>

    <div style="background-image: url('assets/Aiden.png');" class="portfolio-singular-item">
      <span class="text-main-color overlay">
        <h2 class="item-title">Aiden's Gief - Projet d'école</h2>
        Aiden's Grief est un jeu développé en l'espace d'un peu plus d'un mois avec une équipe de 3 personnes. <br>
        Il s'agit d'un prototype ambitieux voulant mêler différents gameplays,
        à savoir une partie de parkour en vue FPS, un bullet hell et un visual novel.
      </span>
    </div>
  </div>
</div>

<div class="filler" style="height: 1em"></div>
