<div>
  <h1 class="text-main-color welcome-text">Bienvenue sur mon site !</h1>

  <div class="presentation-div">
    <figure>
      <img class="presentation-img" src="assets/PhotoPrincipale.png">
      <figcaption class="caption-text text-main-color">C'est moi !</figcaption>
    </figure>


    <div class="presentation-text text-main-color">
      <h2>Je m'appelle Maxime Poiret,</h2>
      Je suis étudiant à l'école d'ingénieurs Polytech Lyon et suis également en double diplôme en maîtrise informatique
      option jeux vidéos à l'UQAC, à Chicoutimi (Québec). Je cherche à obtenir une première expérience
      professionnelle dans le domaine du jeu vidéo !
      <br>
      Je me passionne pour le développement ainsi que le game design et je n'ai pas peur d'affronter de
      nouveaux défis !
    </div>
  </div>
</div>

