<div>
  <h1 class="text-main-color welcome-text">Bienvenue sur mon site !</h1>

  <div class="presentation-div">
    <img class="presentation-img" src="../assets/PhotoPrincipale.png">

    <div class="presentation-text text-main-color">
      Je m'appelle Maxime Poiret, je suis étudiant à l'école d'ingénieurs Polytech Lyon Je m'appelle Maxime Poiret, je suis étudiant à l'école d'ingénieurs Polytech Lyon Je m'appelle Maxime Poiret, je suis étudiant à l'école d'ingénieurs Polytech Lyon Je m'appelle Maxime Poiret, je suis étudiant à l'école d'ingénieurs Polytech Lyon
    </div>
  </div>
</div>

