.welcome-text{
  margin-top: 25px;
  text-align: center;
}

.presentation-div{
  display: flex;
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.presentation-img{
  display: inline-grid;
  height: 350px;
  width: 350px;
}

.presentation-text{
  display: inline-grid;
  align-self: center;
  margin-left: 50px;
  width: 60%;
}

.caption-text{
  font-style: italic;
  text-align: center;
}
